
<div class="file-upload-container">

    
    <div mat-header>Photos</div>
    
    
    <mat-divider></mat-divider>
    <div *ngIf="(task$ | async)?.isPhotosLoading" style="padding:10px">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    </div>
    <div *ngIf="(!(task$ | async)?.isPhotosLoading)">
            
        <div class="file-preview">
            <div *ngFor="let file of (task$ | async)?.task?.photos" class="file-preview-item">
                
                <!-- <mat-icon class="cancel-upload" (click)="removeFile(file)">delete_forever</mat-icon> -->
                <img src="{{file.photoData}}" alt="Photo {{file.id}}" class="image"/>
            </div>
            
        </div>
    </div>
    <div class="file-upload">
        <input type="file" class="file-input" multiple
            
            (change)="onFileSelected($event)" #fileUpload>
        <button mat-raised-button class="upload-btn"
        (click)="fileUpload.click()" i18n>
            <mat-icon>attach_file</mat-icon>
            Upload Photos
        
        </button>
        
    </div>
    <mat-divider></mat-divider>

</div>