<mat-card appearance="outlined" class="contentContainer">
    <mat-card-content class="loginFormContainer">

        <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
            <h3 i18n>Login</h3>
            <mat-form-field>
                <mat-label i18n>Email</mat-label>
                <input matInput placeholder="Email" name="email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label i18n>Password</mat-label>
                <input matInput placeholder="Password" name="password" type="password" formControlName="password">
            </mat-form-field>
            <mat-label i18n>Forgot your password? <a href="javascript:void(0)" (click)="resetPassword()">Reset it here</a></mat-label>
            <mat-error>{{alertMessage}}</mat-error>
            <button mat-raised-button color="primary" type="submit" i18n>Login</button>
            <mat-label i18n>Don't have an account? <a routerLink="/register" href="/register">Register</a></mat-label>
        </form>
    </mat-card-content>
</mat-card> 
